.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #000;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-logo .logo-text {
  font-size: 1.5rem;
  text-decoration: none;
  color: #00FFD1;
}

.navbar-logo .logo-text span {
  color: #ff4d4d;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.navbar-links li a,
.navbar-links li button {
  text-decoration: none;
  color: white;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
}

.logout-btn:hover,
.navbar-links li a:hover {
  color: #00FFD1;
}
